{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}
{% load iom_filters %}
{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="//libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" href="/static/css/search.css" />
<style>
body, html {height: 100%;}
.fullheight {height: 100%;}
.fullwidth {width: 100%;}
.wrapper {height: 100%;}
.scroll {overflow-x: hidden; overflow-y: auto;}
#map, #listwrapper {width: 100%; height: 100%; padding-bottom: 20px;}

#listwrapper {
	overflow-y: auto;
}
.panel-heading {
  padding: 1px 0px 1px 0px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    float: none;
}
.chart-ec {
	width: 380px; 
	height: 120px; 
}
.cartodb-popup-content-wrapper, .cartodb-popup-content {
	min-width: 600px;
}
.persona {
	height: 24px;
	padding-right: 12px;
}
.update {
 	margin-top: -20px;
}
.laatste {
	float:right;
}
.fews {
  height: 24px;
}

.legend {
	position: absolute;
	top: 56px;
	right: 32px;
	height: 40px;
	padding: 2px;
}

#datepicker {
    cursor: pointer;
    padding: 5px 10px;
	position:absolute;
	right: 196px;
	top: 0px;
	display:none;
	margin:19px 0 0 20px;
	height: 30px;
	color: #999;
	font-size: small;
	-webkit-box-shadow:rgba(0,0,0,.2) 0 0 4px 2px;
	-moz-box-shadow:rgba(0,0,0,.2) 0 0 4px 2px;
	box-shadow:rgba(0,0,0,.2) 0 0 4px 2px;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	border:1px solid #999;
	z-index:105
}

#removesearch {
	cursor: pointer;
}

#dosearch {
	cursor: default;
}

</style>
{% endblock extrastyle %}
{% block script %}
{{ block.super }}
{% localize off %}
<script src="//libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script>
var theMap = null;
var theLayer = null;
var theStart = null;

function getSublayerIndex(layer, name) {
	var numLayers = layer.getSubLayerCount();
	for(i=0;i<numLayers;i++) {
		if (layer.layers[i].options.layer_name == name) {
			return i;
		}
	}
	return -1;
}

function getSublayerByName(layer, name) {
	var index = getSublayerIndex(layer,name);
	return index < 0? null : layer.getSubLayer(index);
}

function isSublayerVisible(layer, name) {
	var index = getSublayerIndex(layer,name);
	return index < 0 ? false: layer.layers[index].visible;
}

function showWaarnemer(wid) {
 	var layer = isSublayerVisible(theLayer,'metingen')? 0:1;
 	var url = "waarnemer/" + wid + "?layer=" + layer;
 	if (theStart) {
 		var start = theStart.format("MM-DD-YYYY");
 		url += "&start="+start;
 	}
 	window.location.href=url;
 	return false;
}

window.onload = function() {
  cartodb.createVis('map', '{{cartodb.viz}}')
  	.done(function(vis, layers) {
  		theMap = vis.getNativeMap();
  		theLayer = layers[1];
  		var numLayers = theLayer.getSubLayerCount();
  		{% block createdone %}
  		{% if layer %}
  		    var names = ['metingen','veranderingen'];
	  		var on = {{layer}};
	  		var off = on? 0: 1;
	  		getSublayerByName(theLayer,names[on]).show();
	  		getSublayerByName(theLayer,names[off]).hide();
			{% if start %}
				// modify where clause in sublayer sql query definitiions
				var pattern = /datum > '\d+-\d+-\d+'/i;
				var replacement = "datum > '{{start}}'";
				for(i=0;i<numLayers;i++) {
					var layer = theLayer.getSubLayer(i);
					var sql = layer.getSQL();
					layer.setSQL(sql.replace(pattern,replacement));
				}
			{% endif %}
		{% endif %}
		{% endblock createdone %}
  		// show date picker
  		var e = document.getElementById("datepicker");
  		e.style.display = 'block';
  	});
   $("#listwrapper").height($("#map").height());
}

$(function() {
	
	function filter(start) {
		if (theMap) {
			var pattern = /datum > '\d+-\d+-\d+'/i;
			var replacement = "datum > '"+start+"'";
	  		var numLayers = theLayer.getSubLayerCount();
			for(i=0;i<numLayers;i++) {
				var layer = theLayer.getSubLayer(i);
				var sql = layer.getSQL();
				sql = sql.replace(pattern,replacement);
				layer.setSQL(sql);
			}
		}
	}

	function apply(start, end) {
		theStart = start;
		$('#datepicker span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
		var fromdate = start.format('MM-DD-YYYY');
		filter(fromdate);
	}

	moment.locale('nl-NL');
	
	$('#datepicker').daterangepicker({
    	"applyClass": "btn-primary",
    	"singleDatePicker": false,
    	"locale": {
            "format": "D MMM YYYY",
            "separator": " - ",
            "applyLabel": "Ok",
            "cancelLabel": "Filter verwijderen",
            "fromLabel": "Van",
            "toLabel": "Tot",
            "customRangeLabel": "Handmatig",
            "daysOfWeek": ["Zo", "Ma", "Di", "Wo", "Do", "Vr", "Za"],
            "monthNamesShort": ["Jan", "Feb", "Mrt", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
            "monthNames": ["Januari", "Februari", "Maart", "April", "Mei", "Juni", "Juli", "Augustus", "September", "Oktober", "November", "December"],
            "firstDay": 1
        },
        ranges: {
           'Alleen Vandaag': [moment(), moment()],
           'Gisteren': [moment().subtract(1, 'days'), moment()],
           'Afgelopen week': [moment().subtract(6, 'days'), moment()],
           'Afgelopen maand': [moment().subtract(1, 'month'), moment()],
           'Afgelopen twee maanden': [moment().subtract(2, 'month'), moment()],
        }
    }, apply);
    
	{% if start %}
		apply(moment("{{start}}","MM-DD-YYYY"),moment());
    {% endif %}
    
    $('#datepicker').on('cancel.daterangepicker', function(ev, picker) {
    	// clear range and requery
        $('#datepicker span').html('');
  	  	filter("01-01-1970");
    });
    
    {% if search %}
    	var searchBox = $('#search');
    	searchBox.value ='{{search}}';
    {% endif %}
});

function removeParam(parameter)
{
	var url=document.location.href;
	var urlparts= url.split('?');

	if (urlparts.length>=2)
	{
		var urlBase=urlparts.shift(); 
		var queryString=urlparts.join("?"); 
		
		var prefix = encodeURIComponent(parameter)+'=';
		var pars = queryString.split(/[&;]/g);
		for (var i= pars.length; i-->0;)               
		    if (pars[i].lastIndexOf(prefix, 0)!==-1)   
		        pars.splice(i, 1);
		url = urlBase+'?'+pars.join('&');
		window.history.pushState('',document.title,url); // added this line to push the new url directly to url bar .
	 }
	 return url;
}

function removeSearch() {
	var url = removeParam("search");
	$("#searchbox").hide();
	window.location.href = url;
}

</script>
{% endlocalize %}
{% endblock %}
{% block navbar-right %}
<div id="searchbox" class="pull-right">
	<form class="navbar-form navbar-right" role="search">
	<div class="input-group input-group-sm">
 		{% if search %}
 		<span id="removesearch" class="input-group-addon" onclick="removeSearch()" title="Zoekterm verwijderen"><i class="glyphicon glyphicon-remove" style="color:#d9534f"></i></span>
 		{% else %}
 		<span id="dosearch" class="input-group-addon"><i class="glyphicon glyphicon-search" style="color:#428bca"></i></span>
 		{% endif %}
		<input type="text" class="form-control" placeholder="{{search|default:"Zoeken..."}}" name="search" id="search">
	</div>
	</form>
</div>
{{ block.super }}
{% endblock %}
{% block content %}
<div class = "container-fluid fullheight">
<div class = "row fullheight">
<div class = "col-md-9 fullheight">
<div class= "row fullheight"><div class="col-md-12 fullheight"><div id="map"></div>
<div id="datepicker" title="filter op datum" class = "pull-right"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<span></span></div>
<img class="legend" src="{% static "img/legenda3.png" %}"></img>
</div></div>
{% if laatste %}
<div class= "row">
<div class="col-md-12">
<div class="update text-muted"><small>Geactualiseerd op {{akvo.last_update}}. Laatste waarneming door <a href="{% url 'waarnemer-detail' laatste.waarnemer.id %}">{{laatste.waarnemer}}</a> op {{laatste.datum}}</small></div>
<div class="update pull-right"><a href="fews/{{object.pk}}" title="Download FEWS tijdreeksen"><img class="fews" src="{% static "fews.png" %}"></img></a></div>
</div>
</div>
{% endif %}
</div>
<div class = "col-md-3">
{% block list %}
<div id="list" class = "list-group scroll">
<a href="#" class="list-group-item active"><img class="persona" src="{% static "img/user_group_two-512.png" %}"></img>Waarnemers<span class="badge" title='Aantal waarnemers'>{{waarnemers|length}}</a>
{% for w in waarnemers %}
<a href="{% url 'waarnemer-detail' w.id %}?{{request.GET.urlencode}}" onclick="return showWaarnemer({{w.id}});" class="list-group-item">{{w}}
<span class = "badge" title='Aantal waarnemingen'>{{w.waarneming_set.count|defaultif0:""}}</span> <br/>
<div class='text-muted'><small>{{w.organisatie|default:"&nbsp;"}}<div class="laatste" title="datum van laatste waarneming">{{w.laatste_waarneming.datum|date:"j M Y"|default:""}}</div></small></div>
</a>
{% endfor %}
</div>
{% endblock list %}
</div>
</div>
{% endblock content %}
